*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.logo{
    
    min-width: 250px;
    display: flex;
}
.con2{
    padding-top: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: larger;
    word-spacing: 10%;
    color:white;
    
}
.ForbesNavbar{
    background-color: rgb(6, 56, 6);
   
}
.nav-item a{
    width: 110px;
    margin-right: 12px;

    text-align: center;
}
 .dropdown-menu {
      background-color:  rgb(6, 56, 6); /* Change background color */
      
      width:200px;
      margin-top: 10%;
      border: none;
    }
.dropdown-menu .dropdown-item {
        width: 200px;
        text-align: start;
        padding: 15px;
        color: rgb(223, 223, 223); /* Change text color of dropdown items */
    }
.dropdown-menu .dropdown-item:hover {
        background-color: rgb(12, 42, 28)
    }
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 9rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 10rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


    @media only screen and (max-width: 767px) {
      /* CSS styles for phones */

    }
    
    /* Tablets (768px to 1023px) */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      /* CSS styles for tablets */
    }
    
    /* Laptops (1024px and above) */
    @media only screen and (min-width: 1024px) {
      /* CSS styles for laptops */
    }